input[type=text] {
	background: inherit;
	width: 60px;
}

table {
	border-collapse: collapse;
}

tr {
	background: lightgrey;
	border: 1px solid grey;
}

td {
	background: inherit;
}

.won {
	background: lightgreen;
}